source https://nuget.org/api/v2

nuget FSharp.TypeProviders.StarterPack
nuget FSharp.Quotations.Evaluator
nuget NuGet.CommandLine
nuget NUnit 2.6.3
nuget OpenCL.Net 2.2.9.0
nuget YC.SDK
nuget YC.SDK.Runtime

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2